* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 10px;
}

@import "theme.css";

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 10px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
	  text-shadow: none;
    padding: 0px;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 0px;
    color: @main-fg;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.visible {
    border: @main-fg solid 1px;
    margin-left: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 4px;
    color: @main-fg;
}

#workspaces button.urgent {
    background: @wb-urg-bg;
    color: @wb-urg-fg;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 4px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#backlight,
#battery,
#bluetooth,
#clock,
#custom-cpuinfo,
#cpu,
#idle_inhibitor,
#power-profiles-daemon,
#memory,
#network,
#pulseaudio,
#tray,
#workspaces,
#custom-l_end,
#custom-r_end {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 5px 0px 5px 0px;
    padding-left: 6px;
    padding-right: 6px;
}

#workspaces {
    padding: 0px;
}

#custom-r_end {
    border-radius: 0px 28px 28px 0px;
    margin-right: 12px;
    padding-right: 4px;
}

#custom-l_end {
    border-radius: 28px 0px 0px 28px;
    margin-left: 12px;
    padding-left: 4px;
}
