[user]
	email = ikeark@gmail.com
	name = Andreas Schmid

[core]
  pager = less -r
  editor = vi

[color]
  diff = auto
  status = auto
  branch = auto
  grep = auto

[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  l  = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  la = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  ll = log --stat --abbrev-commit

[grep]
  linenumber = true

[http]
    sslVerify = false

[push]
	default = current

[credential]
	helper = cache

[includeIf "gitdir:~/work/roche/"]
    path = ~/.gitconfig-roche
[credential "https://github.com"]
	helper = 
	helper = !/nix/store/fxvyz1dx5wp87qgbd6dfkmqqb4fypm3b-gh-2.93.0/bin/.gh-wrapped auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/fxvyz1dx5wp87qgbd6dfkmqqb4fypm3b-gh-2.93.0/bin/.gh-wrapped auth git-credential
